language: ruby
sudo: required
cache: bundler
os:
- linux
rvm:
  - 2.1.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4.0
  - ruby-head
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
before_install:
  - gem update --system
  - gem install bundler
  - gem --version
  - sudo apt-get install -qq --force-yes binutils grep
